<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Maintainance Page </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
           <h1>
               We Will be back shortly
           </h1>
    </body>
    {{> footer}}
</html>
